<h1>Products#categories</h1>
<p>Find me in app/views/products/categories.html.erb</p>

<% @product_categories.each do |category| %>

<%= category.name %>
<%= image_tag(category.image.path) %>
<hr>
<% end %>
